@import "boxicons/css/boxicons.min.css";
@import "tailwindcss";

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none; /* IE dan Edge lama */
    scrollbar-width: none; /* Firefox */
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Edge */
  }
}
